1- Aplicar metodologia CSS ATOMICO
    a- protones
    b- atomos
    c- organismos
    d- templates

2- Aplicar Metodologia BEM

3- Aplicar ITCSS y leer sobre BEMI

4- LEER SMACSS 

5- TRABAJAR CON PREPROCESADOR SASS

TAREA: CREAR MI PROPIO BOOTSTRAP REUTILIZABLE.